@import 'tailwindcss';


@keyframes my-animation {

}

@theme {
    --ease-bounceback: cubic-bezier(0.68,-0.6,0.32,1.6);
    --ease-easyease: cubic-bezier(0.45,0,0.55,1);

    --animate-wiggle: wiggle 0.5s ;
    @keyframes wiggle {
        0%,
        100% {
            transform: translateX(0px) translateY(0px) scaleX(100%) scaleY(105%) rotate(0deg) skewX(0deg) skewY(0deg);
        }


    }


}

@keyframes fade-in {
    from { opacity: 0; }

}

@keyframes fade-out {
    to { opacity: 0; }

}

@keyframes slide-from-right {
    from {
        transform: translateY(300px) scaleX(60%) scaleY(80%) ;
        filter: blur(10px);
    }
}


@keyframes slide-to-left {
    to {
        transform: translateY(-300px) scaleX(60%) scaleY(80%) ;
        filter: blur(10px);
    }
}

:root::view-transition-old(root) {
    animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

:root::view-transition-new(root) {
    animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

.prose h1 { @apply text-3xl italic font-serif ; }
.prose p { @apply mb-4   text-gray-700; }
.prose h2 { @apply text-2xl font-semibold mb-3; }

html, body {
    margin: 0;
    padding: 0;
    /* Prevents horizontal scrollbar if content slightly overflows, or if w-screen is used somewhere */
    overflow-x: hidden;
    /* Ensure html takes full height, necessary for body min-height to work correctly */
    height: 100%;
}

body {
    /* Use min-h-screen to ensure body is at least viewport height,
       but expands with content. This is where your background will effectively go. */
    min-height: 100vh;
    /* Apply your Tailwind background utility here or directly on the body tag if you can */
    /*
       Important: If you're using PostCSS with Tailwind, you can often put Tailwind classes directly
       on the body in your index.html. If not, this is the place for the raw CSS property.
    */
    background-color: #ffffff; /* Equivalent to bg-slate-200 */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.sidebar {
    view-transition-name: header;
}

